@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'open sans', sans-serif;
}
body{
    height:100vh;
    background: rgb(15,24,214);
    background: linear-gradient(90deg, rgba(15,24,214,1) 0%, rgba(148,187,233,1) 100%);
    display:flex;
    align-items: center;
    justify-content: center;
}
.clock{
   
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 550px;
    background:transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5); 
}
.clock div{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    color:azure;
    border-radius: 7px;
    background:black;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
    letter-spacing: 3px;
}
.clock span{
    font-weight: bolder;
    font-size:60px;
}
.clock span.time{
    font-size: 12px;
}